 .chat-content-input__box{
  margin-right: 5px;
  padding: 7px;

  min-height: 100%;
  width: 100%;
  overflow-y: auto;

  color: #000;

  border: thin solid #b3bece;
  border-radius: 15px;
  background-color: #efefef;

  &:focus-visible {
    outline: none;
  }

  &:empty:before {
    content: attr(data-placeholder);
    color: gray;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgba(25, 147, 147, 0.1);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: silver;
  }
}
